<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Trail Interactive Map</title>
    <link rel="stylesheet" href="./style.css" type="text/css">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAdsCCyux3pJFFe1QtcQiDT6FEuMx-mlU"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0/angular.min.js"></script>
    <script src="./ng-app.js"></script>
    <script defer src="./pct-data.js"></script>
    <script defer src="./MapFactory.js"></script>
    <script defer src="./map-ctrl.js"></script>
  </head>

  <body ng-app="app">
    <div id="main-wrapper" ng-controller="mapCtrl" ng-init="setup()">
      <div id="map"></div>
      <div id="marker-list-wrapper">
        <table>
          <tr>
            <td class="remove-column misc-text">(Remove)</td>
            <th>Mile</th>
            <th>Lattitude</th>
            <th>Longitude</th>
          </tr>
          <tr ng-repeat="marker in data.ngMarkers | pageStart:currentPage*pageSize | pageEnd: pageSize">
            <td class="remove-column marker-checkbox"><input type="checkbox" ng-model="marker.selected"></input></td>
            <td><input type="text" ng-model="marker.mile"></td>
            <td><input type="text" ng-model="marker.lat"></td>
            <td><input type="text" ng-model="marker.lng"></td>
          </tr>
        </table>
        <br/>
        <div class="first-row-buttons">
          <button ng-disabled="currentPage == 0" ng-click="changePage(-1)">
            Previous
          </button>
          <div class="misc-text page-number">
            <div>{{currentPage+1}}/{{numberOfPages()}}</div>
          </div>
          <button ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="changePage(1)">
              Next
          </button>
          <div class="task-button-wrapper">
            <button ng-click="mapReload()" ng-disabled="!(contentLoadedOnce)">Reload Original</button>
            <button ng-click="updateGMarkers()" ng-disabled="!(contentLoadedOnce)">Save Changes</button>
            <button ng-click="revertUnsavedChanges()" ng-disabled="!(contentLoadedOnce)">Revert Unsaved Changes</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>