<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>Trail Interactive Map</title>
  <link rel="stylesheet" href="./style.css" type="text/css">

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAdsCCyux3pJFFe1QtcQiDT6FEuMx-mlU"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0/angular.min.js"></script>
  <script src="./ng-app.js"></script>
  <script defer src="./pct-data.js"></script>
  <script defer src="./MapFactory.js"></script>
  <script defer src="./MapService.js"></script>
  <script defer src="./map-ctrl.js"></script>
</head>

<body ng-app="app">
  <div id="main-wrapper" ng-controller="mapCtrl" ng-init="setup()">
    <div id="map"></div>
    <div id="marker-list-wrapper">
      <div class="table-and-buttons-wrapper">
        <div class="title-row geneva-text">
            Trail Data
        </div>
        <div class="table-wrapper">
          <table class="helvetica-text">
            <tr class="header-row">
              <th class="mile-column">Mile</th>
              <th class="coord-column">Lattitude</th>
              <th class="coord-column">Longitude</th>
              <th class="remove-column misc-text"><input class="trash-button table-button" type="image" src="Trash01-128.png" ng-click="removeSelectedMarkers()"></td>
            </tr>
            <tr ng-repeat="marker in searchFilteredMarkers = (data.ngMarkers | filter:search:startsWith) | pageStart:(currentPage-1)*pageSize | pageEnd: pageSize">
              <td class="mile-column"><input type="text" class="input-cell" ng-model="marker.mile"></td>
              <td class="coord-column"><input type="text" class="input-cell" ng-model="marker.lat"></td>
              <td class="coord-column"><input type="text" class="input-cell" ng-model="marker.lng"></td>
              <td class="remove-column marker-checkbox"><input type="checkbox" ng-model="marker.selected"></input></td>
            </tr>
            <tr>              
              <td class="mile-column"><input type="text" class="input-cell" ng-model="newMarker.mile"></td>
              <td class="coord-column"><input type="text" class="input-cell" ng-model="newMarker.lat"></td>
              <td class="coord-column"><input type="text" class="input-cell" ng-model="newMarker.lng"></td>
              <td class="remove-column clickable" ng-click="addMarker()"><input class="add-button table-button" type="image" src="Add-icon.png"></td>
            </tr>
          </table>
        </div>
        <div class="button-column">
          <div class="search-wrapper button-column-group">
            <input class="search-bar misc-text" placeholder="Find by Mile" ng-model="search.mile" ng-change="currentPage=1">
          </div>
          <div class="column-button-wrapper button-column-group">
            <button ng-click="mapReload()" ng-disabled="!(contentLoadedOnce)"><div class="button-text"> Load Original</div></button>
            <button ng-click="updateGMarkers()" ng-disabled="!(contentLoadedOnce)"><div class="button-text">Save Edits</div></button>
            <button ng-click="revertUnsavedChanges()" ng-disabled="!(contentLoadedOnce)"><div class="button-text">Revert Unsaved</div></button>
          </div>
        </div>
        <div class="buttons-row">
          <div class="page-button-wrapper">
            <button ng-disabled="currentPage <= 1" ng-click="changePage(-1)">
              Previous
            </button>
            <div class="misc-text page-number">
              <input class="page-input" ng-model="currentPage" ng-change="deselectAllMarkers();revertUnsavedChanges();"><div class="num-pages"> / {{numberOfPages()}}</div>
            </div>
            <button ng-disabled="currentPage >= numberOfPages()" ng-click="changePage(1)">
              Next
            </button>
          </div>
        </div>
      </div>
      <div class="buttons-row">
      </div>
    </div>
  </div>
</body>
</html>