/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#main-wrapper {
  height:100vh;
}
#map {
  display: inline-block;
  height: 100vh;
  width: 50%;
}
#marker-list-wrapper {
  padding:10px 15px 15px 7px;
  display: inline-block;
  vertical-align: top;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
table, td, th {    
  border: 1px solid #ddd;
  text-align: left;
}
table {
  font-family: Helvetica, sans-serif;
  border-collapse: collapse;
  width: 45vw;
}
th, td {
  padding: 13px;
}
.remove-column{
  width: 10%;
  padding-bottom: 15px;
  font-size: 13px;
  font-family: Tahoma, Geneva, sans-serif;
}
.task-button-wrapper{
  display: inline-block;
  margin-left: 12px;
}
button{
  background-color: beige;
  border-width:2px;
  border-radius:4px;
  border-color:#c1bbae;
  color: #353535;
}
.task-button-wrapper button{
  height: 30px;
  font-size: 13px;
  margin-left: 8px;
}
.misc-text{
  color:#333;
}
.page-number{
  display: inline-block;
  vertical-align:bottom;
  margin-bottom: 6px;
  margin-left:5px;
  margin-right:5px;
}
button:disabled{
 background-color:#E0E0E0;
 border-color:#b5b0a8;
 color:#777;
};